<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>21G115</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>鲨鱼记账</string>
	<key>CFBundleExecutable</key>
	<string>Tally</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.yanglei.tally</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Tally</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.31</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sdkbackc9c21f8d344312335f62e61cdfbe38dc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>taobao</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tbopen27942077</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.shark.tally</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>shark.tally</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.yanglei.tally</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>yanglei.tally</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx352d0fd76a715ced</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb3903740389</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ41f03b36</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1106262838</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>4.31</string>
	<key>DTAppStoreToolsBuild</key>
	<string>14E221</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>20B71</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>16.1</string>
	<key>DTSDKBuild</key>
	<string>20B71</string>
	<key>DTSDKName</key>
	<string>iphoneos16.1</string>
	<key>DTXcode</key>
	<string>1410</string>
	<key>DTXcodeBuild</key>
	<string>14B47b</string>
	<key>DTXcodeBuildDistribution</key>
	<string>14B47b</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3904228274970549~5853609173</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>imeituan</string>
		<string>pinduoduo</string>
		<string>pddopen</string>
		<string>jdlogin</string>
		<string>openapp.jdmobile</string>
		<string>weixinULAPI</string>
		<string>tbopen</string>
		<string>tmall</string>
		<string>alipayshare</string>
		<string>alipay</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>sinaweibosso</string>
		<string>sinaweibohdsso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>weixin</string>
		<string>wechat</string>
		<string>mqqapi</string>
		<string>mqq</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqconnect</string>
		<string>mqqopensdkdataline</string>
		<string>mqqopensdkgrouptribeshare</string>
		<string>mqqopensdkfriend</string>
		<string>mqqopensdkapi</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqzoneopensdk</string>
		<string>wtloginmqq</string>
		<string>wtloginmqq2</string>
		<string>mqqwpa</string>
		<string>mqzone</string>
		<string>mqzonev2</string>
		<string>mqzoneshare</string>
		<string>wtloginqzone</string>
		<string>mqzonewx</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdk</string>
		<string>myqqbrowser</string>
		<string>baidumobads</string>
		<string>mttbrowser</string>
		<string>shark.tallypro</string>
		<string>yanglei.tally</string>
		<string>eleme</string>
		<string>meituanwaimai</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>15.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>使用相机拍摄照片用于设置头像等功能</string>
	<key>NSFaceIDUsageDescription</key>
	<string>面容ID将用于解锁</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>请求授权以便确认您的网络环境信息，信息将用于确认您在安全可信的环境下使用我们的产品</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>用于语音相关的功能</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>使用相册图片用于设置头像等功能</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>使用相册图片用于设置头像等功能</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ExpendIncomeSelectionIntent</string>
		<string>TallyLedgerSelectionIntent</string>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>我们将使用此权限保障您的正常登录和账户安全。例如在登录时收集您的数据，分析设备安全环境，确保账户安全。</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>238da6jt44.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>22mmun2rn5.skadnetwork</string>
		</dict>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>新建记账</string>
			<key>UIApplicationShortcutItemType</key>
			<string>newtally</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string></string>
			</array>
			<key>UTTypeDescription</key>
			<string>Shark Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.shark.tallypro.shark</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>shark</string>
				<key>public.mime-type</key>
				<string>application/tally</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
